<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col col-lg-6">
        <div class="text-center">
          <h1 [hidden]="crossTurn" class="uppercase text-danger">Current Turn: Player 1 (Circle)</h1>
          <h1 [hidden]="!crossTurn" class="uppercase text-danger">Current Turn: Player 2 (Cross)</h1>
        </div>

        <div class="grid">
          <div *ngFor = " let item of board; index as i ">
            <div class="card">
              <div class="card-box box" (click) = "handleClick(i)">
                <app-icon [iconName] = "item"></app-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-lg-6 text-center" *ngIf = "winningMsg">
        <h1 class="text-uppercase">
          Game Over <br/> {{winningMsg}}
        </h1>
        <button 
        class="btn btn-danger text-uppercase pl-5 pr-5"
        (click) = "resetBoard()">
          Reset Game
        </button>
      </div>
    </div>
  </div>
</body>
</html>